*.exe
*.obj
*.dblite
*.o
*.bak
*.sdf
*.suo
*.pdb
.docstates.suo
/example/main
*.opensdf
*.idb
*.*~
*.ilk
*.opendb
*.db
/example/test/msvc/2015/.vs
/example/test/msvc/2015/Debug
/example/test/msvc/2015/release
/example/test/msvc/2015/x64
/example/test/msvc/2015/math2015.VC.db
/example/test/msvc/2015/math2015.VC.VC.opendb
/example/test/msvc/2017/.vs
/example/test/msvc/2017/x64
/example/test/msvc/2017/Release
/example/test/msvc/2017/Debug

/example/test/msvc/2019/.vs
/example/test/msvc/2019/x64

example/test/codeblocks/math.depend
example/test/codeblocks/bin
example/test/codeblocks/obj
/example/test/msvc/2015/enc_temp_folder
/example/_cmakeGcc
/example/_cmake
/example/_cmakeGcc
