*.exe
*.obj
*.dblite
*.o
*.bak
*.sdf
*.suo
*.pdb
.docstates.suo
/example/main
*.opensdf
*.idb
*.*~
*.ilk
*.opendb
*.db
/example/test/msvc/2015/.vs
/example/test/msvc/2015/Debug
/example/test/msvc/2015/release
/example/test/msvc/2015/x64
/example/test/msvc/2015/math2015.VC.db
/example/test/msvc/2015/math2015.VC.VC.opendb
/example/test/msvc/2017/.vs
/example/test/msvc/2017/x64
/example/test/msvc/2017/Release
/example/test/msvc/2017/Debug

/example/test/msvc/2019/.vs
/example/test/msvc/2019/x64

example/test/codeblocks/math.depend
example/test/codeblocks/bin
example/test/codeblocks/obj
/example/test/msvc/2015/enc_temp_folder
/example/_cmakeGcc
/example/_cmake
/example/_cmakeGcc
/example/_cmakeVS
/example/test/msvc/2022/.vs
/example/test/msvc/2022/x64
/example/check/algorithm/combination_test
/example/check/algorithm/variation_test
/example/check/complex/quaternion
/example/check/geometry/circle/check
/example/check/geometry/circle/test
/example/check/geometry/coord
/example/check/geometry/direction/check
/example/check/geometry/direction/test
/example/check/geometry/ellipse/check
/example/check/geometry/ellipse/test
/example/check/geometry/interval/check
/example/check/geometry/interval/test
/example/check/geometry/plane/check
/example/check/geometry/plane/test
/example/check/geometry/projective/camera/check
/example/check/geometry/projective/camera/focus
/example/check/geometry/projective/camera/frustum
/example/check/geometry/projective/camera/rectify
/example/check/geometry/projective/check
/example/check/geometry/projective/test
/example/check/geometry/tetrahedron/check
/example/check/geometry/tetrahedron/test
/example/check/geometry/triangle/check
/example/check/geometry/triangle/test
/example/check/linear/affine/check
/example/check/linear/affine/test
/example/check/linear/homography/check
/example/check/linear/homography/test
/example/check/linear/vector/check
/example/check/linear/vector/test
/example/check/polynomial/evaluate
/example/check/polynomial/fit
/example/check/polynomial/interpolate/test
/example/check/polynomial/solve/check
/example/check/polynomial/solve/test
/example/check/statistic/check
/example/check/statistic/test
/example/check/topology/test
/example/readme
/example/_build

/example/_buildGC-11
/example/_buildGC-14
/example/_buildGC-17
/example/_buildGC-20
/example/_build-msvc_11
/example/_build-msvc_14
/example/_build-msvc_17
/example/_build-msvc_20
/example/_build-msvc_Clang_11
/example/_build-msvc_Clang_14
/example/_build-msvc_Clang_17
/example/_build-msvc_Clang_20
/example/_cmakeVS